<div class="container p-5">
	<!--Title-->
	<h4 class="text-center mb-5">Start creating your new wishlist!</h4>

	<!--Picture Picker-->
	<app-image-picker
		class="mb-4"
		(uploaded)="this.form.get('pictureId')?.patchValue($event)"
	/>

	<!--Form-->
	@if (form) {
		<form [formGroup]="form" class="d-flex flex-column gap-4">
			<!--Name-->
			@let nameControl = form.get('name');
			@if (nameControl) {
				<div class="form-group">
					<input
						type="text"
						class="form-control"
						[class.is-invalid]="nameControl.errors && nameControl.touched"
						placeholder="Title"
						formControlName="name"
						(keyup)="showSumbit = true"
					/>
					<div class="invalid-feedback">
						@if (nameControl.errors?.['required']) {
							Please provide a title for your wishlist
						} @else if (nameControl.errors?.['maxlength']) {
							Provided title is too long. Maximum length is
							{{ nameControl.errors?.['maxlength'].requiredLength }} characters
						}
					</div>
				</div>
			}

			<!--Description-->
			@let descriptionControl = form.get('description');
			@if (descriptionControl) {
				<div class="form-group">
					<textarea
						#textarea
						type="text"
						class="form-control"
						[class.is-invalid]="
							descriptionControl.errors && descriptionControl?.touched
						"
						placeholder="Description (optional)"
						formControlName="description"
					>
					</textarea>

					<div class="invalid-feedback">
						@if (descriptionControl.errors?.['maxlength']) {
							Provided description is too long. Maximum length is
							{{ descriptionControl.errors?.['maxlength'].requiredLength }}
							characters
						}
					</div>
				</div>
			}
		</form>
	}

	<!--Save-->
	@if (showSumbit) {
		<div class="row mt-4">
			<button
				class="btn btn-primary btn-fade-in"
				(click)="save()"
				[disabled]="!form.valid"
			>
				Let's add some items!
			</button>
		</div>
	}
</div>
