<div class="container p-5">
	<!--Title-->
	<h4 class="text-center mb-5">Start creating your new wishlist!</h4>

	<!--Picture Picker-->
	<app-image-picker class="mb-4" />

	<!--Form-->
	<form [formGroup]="form" class="d-flex flex-column gap-4">
		<!--Name-->
		<input
			type="text"
			class="form-control"
			placeholder="Title"
			formControlName="name"
		/>

		<!--Description-->
		<textarea
			#textarea
			type="text"
			class="form-control"
			placeholder="Description (optional)"
			formControlName="description"
		>
		</textarea>
	</form>

	<!--Save-->
	<div class="row mt-4">
		<button class="btn btn-primary" (click)="save()">
			I'm ready to add some items!
		</button>
	</div>
</div>
