.image-picker {
	position: relative;
	cursor: pointer;

	.image {
		transition: 200ms linear;
	}

	.icon {
		transition: 200ms linear;
		opacity: 0;

		position: absolute;
		top: 45%;
		left: 50%;
		transform: translate(-50%, -55%);
	}
}

.image-picker:hover {
	.image {
		opacity: 0.5;
	}

	.icon {
		opacity: 1;
	}
}
